body{
  background-color: #282c34;
  color: white;
  font-size: 1.2rem;
}

*{
  /* border: 1px grey solid; */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a{
  color: #61dafb;
  text-decoration: none;
}

.userCard{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 50%;

  border-bottom: 2px white outset;

  padding: 1%;
  margin: 1% 0;

  background-color: rgb(118, 157, 236, .1);
  box-shadow: -300px 20px 300px 1px rgb(118, 157, 236) ;
  
}

.userCard > *{
  width:100%;
  box-shadow: 500px -600px 300px 1px rgb(236, 118, 230) ;
  text-shadow: 7px 4px 3px rgb(0, 0, 0) ;
}

.details{
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

.postCard{
  border: 2px grey inset;
  border-radius: 10px;
  padding: 2%;
  margin: 2%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  width: 20%;

  background-color: rgb(40, 44, 52, .1);

  box-shadow: 0px 400px 300px 2px rgb(118, 236, 216) ;
  text-shadow: -7px -4px 3px rgb(0, 0, 0) ;
}

h6{
  color: rgb(169, 169, 169, .1);
  text-shadow: -7px -4px 1px rgb(255, 255, 255, .5) ;
}

h2{
  text-shadow: 7px -7px 4px rgb(0, 0, 0) ;
}